<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grade.name %>
</p>

<p>
  <b>Value:</b>
  <%= @grade.value %>
</p>

<p>
  <b>Grading scale:</b>
  <%= @grade.grading_scale %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
