<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gradeing_scale %><br />
    <%= f.text_field :gradeing_scale %>
  </div>
  <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </div>
  <div class="field">
    <%= f.label :report_definition %><br />
    <%= f.text_field :report_definition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
