<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_definition.name %>
  <table> 
  <thead>
    <tr>
      <% @report_definition.evaluations do |evaluation| %>
      <th><%= evaluation.formula.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @report_definition.projects do |project| %>
        <%= project.name %>
      <% end %>
  </tbody>
  
    
  
  </table>
</p>


<%= link_to 'Edit', edit_report_definition_path(@report_definition) %> |
<%= link_to 'Back', report_definitions_path %>
