<% evaluations =  @report_definition.evaluations %>

<style>
.error {
  background-color:red;
}
.stale{
  background-color:yellow;
}

</style>

<script>

function Cell(jqSelected, project_id,evaluation_id,formula_id){
  this.jqSelected = jqSelected;
  this.formula_id = formula_id;
  this.project_id = project_id;
}

Cell.prototype.calculate = function(){
  var that = this;
  var url = '/formulas/' + that.formula_id + '?project=' + that.project_id + '&datetime=' + escape('<%= @date.iso8601 %>');

  jQuery.ajax({
    url:url,
    beforeSend:that.beginToSpin,
    success:function(data){ that.success(data);},
    error:that.error,
    dataType:'json' 
  });
}

Cell.prototype.beginToSpin = function(){
}

Cell.prototype.success = function(data, statua){
  if(data.isSuccess){
    this.jqSelected.text( data.value );
    if(data.stale_snapshots.length > 0){
      this.jqSelected.addClass('stale');
    }
  }else{
    this.jqSelected.addClass('error');
    this.jqSelected.text( data.message);
  }
}
var cell;

jQuery(document).ready(function(){
      <% @report_definition.projects.each do |project| %>
        <% evaluations.each do |evaluation| %>
          cell = new Cell(jQuery('#<%= cell_id(project,evaluation)%>'), '<%= project.id %>', '<%= evaluation.id %>', '<%= evaluation.formula.id %>');
          cell.calculate();
        <% end %>
      <% end %>
});



</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_definition.name %>
  <% evaluations =  @report_definition.evaluations %>
  <table> 
  <thead>
    <tr>
      <th>Projects</th>
      <% evaluations.each do |evaluation| %>
        <th><%= evaluation.formula.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @report_definition.projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <% evaluations.each do |evaluation| %>
           <td id="<%= cell_id(project,evaluation) %>"> </td> 
          <% end %>
        </tr>
      <% end %>
  </tbody>
  
    
  
  </table>
</p>


<%= link_to 'Edit', edit_report_definition_path(@report_definition) %> |
<%= link_to 'Back', report_definitions_path %>
