<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_definition.name %>
  <% evaluations =  @report_definition.evaluations %>
  <table> 
  <thead>
    <tr>
      <th>Projects</th>
      <% evaluations.each do |evaluation| %>
        <th><%= evaluation.formula.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @report_definition.projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <% evaluations.each do |evaluation| %>
           <td><%= evaluation.formula.to_s %><br /><%= evaluation.formula.evaluated_string(project,@date) %> <br />
 <%= evaluation.formula.calculate(project,@date)%> </td> 
          <% end %>
        </tr>
      <% end %>
  </tbody>
  
    
  
  </table>
</p>


<%= link_to 'Edit', edit_report_definition_path(@report_definition) %> |
<%= link_to 'Back', report_definitions_path %>
