
<script>
jQuery(document).ready(function(){
 var metrics= [<%= Metric.all.map{|m| "'#{m.name}'"}.join(',') %>]; 
 function Formula(selected){
  this.lastCarreted = 0;
 }
 var formula = new Formula();

 
 jQuery('#formula').autocomplete( { 
    source:metrics, 
    select: function(event, ui) {
     event.preventDefault();
     console.log(event); 
     console.log(ui.item.value); 
      
     var field = jQuery(this);
     var originalVal = field.val();
     var replaced = originalVal.substring(0, formula.lastCarreted).replace(/\w+$/, ui.item.value);
     field.val(replaced + originalVal.substring(formula.lastCarreted, originalVal.length));
    }
 });
 jQuery('#formula').keyup(function(){
  var field = jQuery(this);
  var carretPosition = field.caret().start
  formula.lastCarreted = carretPosition; 
  var searchTerm = field.val().substring(0, carretPosition).match(/\w+$/);
  if(searchTerm != null){ field.autocomplete('search', searchTerm[0]); }
 });
     
});
</script>
<%= form_for(@formula) do |f| %>
  <% if @formula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formula.errors.count, "error") %> prohibited this formula from being saved:</h2>

      <ul>
      <% @formula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula, {:value => @formula.to_s,:id=>'formula'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
