<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @formula.name %>
</p>
<p>
  <b>Formula:</b>
  <%= @formula.to_s %>
</p>


<%= link_to 'Edit', edit_formula_path(@formula) %> |
<%= link_to 'Back', formulas_path %>
