<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grading_scale.name %> <br >
  <% grades = @grading_scale.grades %>
  <% grades.each_with_index do |grade,i| %>
    <%= grade.name %>: 
    <% if(i == 0) %>
      <%= grade.value %> > *
    <% elsif(i == grades.length - 1) %>  
      * > <%= grade.value %> > <%= grades[i-1].value %>
    <% else %>  
      <%= grade.value %> > <%= grades[i-1].value %>
    <% end %>  
    <br /> 
  <% end %> 
</p>



<%= link_to 'Edit', edit_grading_scale_path(@grading_scale) %> |
<%= link_to 'Back', grading_scales_path %>
